@import "../variables";
.expenseReduce{
    background-color: $white;
    padding: 90px 0 117px 0;
    text-align: center;
    &__h2{
        text-align: left;
        @extend %h2;
        max-width: 960px;
    }
    &__circleStat{
        margin: 70px 0 115px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    &__img{
        margin-bottom: 35px;
    }
    &__a{
        @extend %a;
    }
}